section{
    display: flex;
    flex-direction: column;
    width: 100vw;
}
h1{

  font-family: "Inter", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2.25rem;

}
h2{
    font-family: "Inter", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
}
body{
    font-family: "Inter", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    background-color: #F8FAFC;
    margin: unset;
    line-height: 2;
    color: #030616;
}
a{
    color: #4E80EE;
}
hr{

    border-color: #D2D5DA;

}

.title{

    text-align: center;
    background-color: #fff;
    
}
.container{
    display: flex;
    justify-content: center;
    padding: 25px;
}
